.home {
	background: linear-gradient(90deg,cyan,skyblue, lightblue, white);
	max-height: 100%;
	width: 100%;
	display: flex;
}

.nada {
	padding-top: 35px;
	padding-left: 10px;
	min-height: 50%;
	max-height: 80%;
	width: 100%;
}

img {
	justify-content: flex-end;
	float: right;
	padding-right: 10px;
	border-radius: 98px;
	max-width: 55%;
	max-height: 55%;
	opacity: 0.75;
}

p {
	display: block;
	font-size: 2rem;
}
